# Semana 05
   Estudiante: Elias Samuel Talledo Vega

Temas:
    1. Colecciones de Datos
    2. Estructuras Decisivas
    3. Clases y Objetos
    4. Funciones

2. Estructuras Decisivas

In [ ]:
# Estructuras decisivas (if,elf, else)

In [ ]:
# if
# Problema: Dado el precio de 3 productos ingresados por el teclado
# aplicar un descuento del 10% si la venta es mayor o igual a 1000

In [3]:
# Solucion
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2+ P3
if total >= 1000:
    total*=0.9
print(f"El total a pagar es: {total}")

Producto 1: 320
Producto 2: 20
Producto 3: 100
El total a pagar es: 440.0

In [ ]:
# if-else

In [ ]:
# Problema 01
# Dado una lista de [ASUNCION, AYQUIPA, BARZOLA, CAMAN, CURO, INCA, SAHUMA, TALLEDO, URBISAGASTEGUI]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado)
# forma parte de la lista

In [6]:
# Solucion
LP3 = ["ASUNCION", "AYQUIPA", "BARZOLA", "CAMAN", "CURO", "INCA", "SAHUMA", "TALLEDO", "URBISAGASTEGUI"]
apellido = input("Ingresa nombre a buscar: ")

# Como los datos de la lista están en mayúscula, utilizo upper()
if apellido.upper() in LP3:
    print("Si está en la lista de LP3")
else:
    print("No está en la lista de LP3")

Ingresa nombre a buscar: Talledo
Si está en la lista de LP3

In [ ]:
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado)
# categorizar que tipo de empleado es, considerado la siguiente tabla:

# Categoria: A -> <0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoria: D -> <5000, Mas]

In [11]:
# Solucion
ventas = float(input("Importe de ventas realizadas: "))
if ventas <0:
    print("Datos erroneos")
else:
    if ventas<=1000:
        print("Categoria A")
    else:
        if ventas<=2000:
            print("Categoria B")
        else:
            if ventas <=5000:
                print("Categoria C")
            else:
                print("Categoria D")

Importe de ventas realizadas: 5200
Categoria D

In [ ]:
# ELIF
# Problema 03: Solucionar el problema anterior utilizando elif

# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado)
# categorizar que tipo de empleado es, considerado la siguiente tabla:

# Categoria: A -> <0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoria: D -> <5000, Mas]

In [13]:
#Solucion

ventas = float(input("Importe  de ventas realizadas: "))
if ventas < 0:
    print("Datos erroneos")
elif ventas<=1000:
    print("Categoria A")
elif ventas<=2000:
    print("Categoria B")
elif ventas<=5000:
    print("Categoria C")
else:
    print("Categoria D")

Importe  de ventas realizadas: 3200
Categoria C

2.2. Estructuras repetitivas

In [ ]:
# Problema 01
# Mostrar los elementos de una lista utilizando for

In [14]:
# solucion
aula = ['Inca','Barzola','Urbisagastegui','Caman']

# Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Inca
Barzola
Urbisagastegui
Caman

In [ ]:
# Problemaa 02
# Dado una cadena ingresado por teclado, mostrar cada caracter de la cadena, utilizando el for

In [15]:
# Solucion
cadena = input("Ingrese cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese cadena: Yo soy Iron Man
Y
o

s
o
y

I
r
o
n

M
a
n

In [16]:
# Para generar rangos de números utilizamos range()
range(5)
#[0,5>

range(0, 5)

In [18]:
# Problema 02
# Imprimir los números de 0 a 10, utilizando for
for numero in range(0,11):
    print(numero)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
# Problema 03
# Imprimir los números de 5 a 10, utilizando for
for numero in range(5,11):
    print(numero)

5
6
7
8
9
10

In [22]:
# Problema 04
# Imprimir los numeros de 10 a 20, utilizando for
for numero in range(10,22,2):
    print(numero)

10
12
14
16
18
20

In [23]:
# Ejemplo:
numero = 1
fin = 10
while numero <= fin:
    print(numero)
    numero+=1

1
2
3
4
5
6
7
8
9
10